//CSS from w3school
/* Add a black background color to the top navigation */
$active: #04aa6d;
$background: #358aafe3;
$word-color: #fffefe;
.topnav {
  background-color: $background;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: $word-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $word-color;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: $active;
  color: white;
}
.home {
  font-weight: 700;
}
