.listItems {
  color: black;
  background-color: white;
  width: 500px;
  height: 600px;
  margin: 20px;

  h5 {
    color: green;
    font-style: italic;
    text-align: left;
    margin-left: 50px;
  }

  .items {
    border-bottom: 1px solid #aaa;
    margin-top: 10px;

    input {
      width: 50px;
      height: 20px;
    }

    button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }

    .todoTitle {
      width: 250px;
      height: 30px;
      color: black;
      border: none;
      background-color: transparent;
    }
    .editTodoTitle,
    .editTodoDescription {
      width: 250px;
      height: 30px;
      color: black;
      border: 1px solid grey;
      border-radius: 5px;
      background-color: transparent;
    }

    .todoDescription {
      width: 400px;
      height: 30px;
      color: black;
      border: none;
      background-color: transparent;
      display: none;
      margin-left: 120px;
      font-style: italic;
    }
  }
  input {
    width: 300px;
    height: 30px;
    outline: none;
  }

  button {
    height: 35px;
  }

  .addTodo {
    input {
      margin: 5px;
      border: 1px solid grey;
      border-radius: 5px;
    }
  }

  .clearTodo {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  }
}
